.App {
    text-align: center;
}
document {
    background-color: black;
}
#header {
    background-color: #FFCB05;
    color: #00274C;
    padding-bottom: 5px;
}
#big-title {
    font-weight: normal;
    font-size: xx-large;
}
#small-title {
    font-style: italic;
}

.movie-card img {
    width: 15em;
    height: 20em;
    /*background-color: #00274C;
    align-items: center;
    margin: 20px;
    cursor: pointer;*/
}

#movie-card img {
    width: 300px;
    border: solid;
    margin: auto;
}

#movies-list {
    padding-top: 2px;
    background-color: #00274C;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

#name-date {
    font-family: Helvetica;
}