.App {
    text-align: center;
}
.nav {
    background-color: darkblue;
}
#header {
    background-color: darkblue;
    color: white;
    padding-bottom: 1px;
}
#big-title {
    color: #FFCB05;
    font-weight: normal;
    font-size: 100px;
    font-family: Helvetica;
    font-weight: 600;
}
#small-title {
    font-style: italic;
    font-size: xx-large; 
}

.movie-card img {
    width: 15em;
    height: 20em;
    /*background-color: #00274C;
    align-items: center;
    margin: 20px;
    cursor: pointer;*/
}

#movie-card img {
    width: 300px;
    border: solid;
    margin: auto;
}

#movies-list {
    padding-top: 2px;
    background-color: darkblue;
    color: white;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
}

#name-date {
    font-family: Helvetica;
}

.filter {
    background-color: darkblue;
}

.home {
    background-color: darkblue;
    color: white;
}